<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml" />

    <springProperty scope="context" name="springAppName"
                    source="spring.application.name" />
    <!-- -DLOG_HOME="/home/xxx/logs" -->
    <property name="LOG_HOME" value="../logs/bics" />

    <property name="PATTERN" value="%d{yyyy-MM-dd HH:mm:ss} %-5level ${version} [%thread%X{sourceThread}]%logger{24} - %msg%n"/>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <!---->
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level [%thread%X{sourceThread}] %logger{36} - %msg%n</pattern>

        </encoder>
    </appender>

    <!-- 为logstash输出的JSON格式的Appender -->
    <appender name="FILE_LOGSTASH"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_HOME}/${springAppName}.json</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_HOME}/${springAppName}.json.%d{yyyy-MM-dd}.gz</fileNamePattern>
        </rollingPolicy>
        <encoder
                class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
            <providers>
                <pattern>
                    <pattern>
                        {
                        "timestamp": "%d{yyyy-MM-dd HH:mm:ss.SSS}",
                        "level": "%level",
                        "service": "${springAppName:-}",
                        "trace": "%X{X-B3-TraceId:-}",
                        "span": "%X{X-B3-SpanId:-}",
                        "exportable": "%X{X-Span-Export:-}",
                        "pid": "${PID:-}",
                        "thread": "%thread%X{sourceThread}",
                        "class": "%logger{40}",
                        "message": "%message"
                        }
                    </pattern>
                </pattern>
            </providers>
        </encoder>
    </appender>


    <appender name="FILE_OPERATOR"
              class="ch.qos.logback.core.rolling.RollingFileAppender">

        <file>${LOG_HOME}/operator.json</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_HOME}/operator.json.%d{yyyy-MM-dd}.gz</fileNamePattern>
        </rollingPolicy>
        <encoder>
            <pattern>%msg%n</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>INFO</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
    </appender>

    <!--
    <logger name="org.hibernate" level="debug"/>
    <logger name="org.hibernate.type.descriptor.sql.BasicBinder" level="trace"/>
    <logger name="org.hibernate.type.descriptor.sql.BasicExtractor" level="trace"/>
    -->

    <logger name="cn.com.wanwei.accesslog.OperateLogAspect" level="info" additivity="false">
        <appender-ref ref="FILE_OPERATOR"/>
    </logger>

    <root level="info">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="FILE_LOGSTASH" />
    </root>
</configuration>
