<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.wanwei.bic.mapper.BusinessMapper">
  <resultMap id="BaseResultMap" type="cn.com.wanwei.bic.entity.BusinessEntity">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="principal_id" jdbcType="VARCHAR" property="principalId" />
    <result column="ticket" jdbcType="VARCHAR" property="ticket" />
    <result column="coupon" jdbcType="VARCHAR" property="coupon" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="reserve" jdbcType="VARCHAR" property="reserve" />
    <result column="ticket_notice" jdbcType="VARCHAR" property="ticketNotice" />
    <result column="business_notice" jdbcType="VARCHAR" property="businessNotice" />
    <result column="traffic_notice" jdbcType="VARCHAR" property="trafficNotice" />
    <result column="hint_notice" jdbcType="VARCHAR" property="hintNotice" />
    <result column="extend_notice" jdbcType="VARCHAR" property="extendNotice" />
    <result column="service_facility" jdbcType="VARCHAR" property="serviceFacility" />
    <result column="created_user" jdbcType="VARCHAR" property="createdUser" />
    <result column="created_date" jdbcType="TIMESTAMP" property="createdDate" />
    <result column="updated_user" jdbcType="VARCHAR" property="updatedUser" />
    <result column="updated_date" jdbcType="TIMESTAMP" property="updatedDate" />
  </resultMap>
  <sql id="Base_Column_List">
    id, principal_id, ticket, coupon, phone, reserve, ticket_notice, business_notice, 
    traffic_notice, hint_notice, extend_notice, service_facility, created_user, created_date, 
    updated_user, updated_date
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from bic_business
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from bic_business
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="cn.com.wanwei.bic.entity.BusinessEntity">
    insert into bic_business (id, principal_id, ticket, coupon,
      phone, reserve, ticket_notice, 
      business_notice, traffic_notice, hint_notice, 
      extend_notice, service_facility, created_user, 
      created_date, updated_user, updated_date
      )
    values (#{id,jdbcType=VARCHAR}, #{principalId,jdbcType=VARCHAR}, #{ticket,jdbcType=VARCHAR}, #{coupon,jdbcType=VARCHAR},
      #{phone,jdbcType=VARCHAR}, #{reserve,jdbcType=VARCHAR}, #{ticketNotice,jdbcType=VARCHAR}, 
      #{businessNotice,jdbcType=VARCHAR}, #{trafficNotice,jdbcType=VARCHAR}, #{hintNotice,jdbcType=VARCHAR}, 
      #{extendNotice,jdbcType=VARCHAR}, #{serviceFacility,jdbcType=VARCHAR}, #{createdUser,jdbcType=VARCHAR}, 
      #{createdDate,jdbcType=TIMESTAMP}, #{updatedUser,jdbcType=VARCHAR}, #{updatedDate,jdbcType=TIMESTAMP}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="cn.com.wanwei.bic.entity.BusinessEntity">
    update bic_business
    set principal_id = #{principalId,jdbcType=VARCHAR},
      ticket = #{ticket,jdbcType=VARCHAR},
      coupon = #{coupon,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      reserve = #{reserve,jdbcType=VARCHAR},
      ticket_notice = #{ticketNotice,jdbcType=VARCHAR},
      business_notice = #{businessNotice,jdbcType=VARCHAR},
      traffic_notice = #{trafficNotice,jdbcType=VARCHAR},
      hint_notice = #{hintNotice,jdbcType=VARCHAR},
      extend_notice = #{extendNotice,jdbcType=VARCHAR},
      service_facility = #{serviceFacility,jdbcType=VARCHAR},
      created_user = #{createdUser,jdbcType=VARCHAR},
      created_date = #{createdDate,jdbcType=TIMESTAMP},
      updated_user = #{updatedUser,jdbcType=VARCHAR},
      updated_date = #{updatedDate,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>