<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.wanwei.bic.mapper.CelebrityMapper">
  <resultMap id="BaseResultMap" type="cn.com.wanwei.bic.entity.CelebrityEntity">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="created_user" jdbcType="VARCHAR" property="createdUser" />
    <result column="created_date" jdbcType="TIMESTAMP" property="createdDate" />
    <result column="updated_user" jdbcType="VARCHAR" property="updatedUser" />
    <result column="updated_date" jdbcType="TIMESTAMP" property="updatedDate" />
    <result column="category" jdbcType="VARCHAR" property="category" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="simple_spell" jdbcType="VARCHAR" property="simpleSpell" />
    <result column="full_spell" jdbcType="VARCHAR" property="fullSpell" />
    <result column="alias" jdbcType="VARCHAR" property="alias" />
    <result column="summary" jdbcType="VARCHAR" property="summary" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="slogan" jdbcType="VARCHAR" property="slogan" />
    <result column="sex" jdbcType="INTEGER" property="sex" />
    <result column="birth_date" jdbcType="TIMESTAMP" property="birthDate" />
    <result column="pass_away_date" jdbcType="TIMESTAMP" property="passAwayDate" />
    <result column="birthplace" jdbcType="INTEGER" property="birthplace" />
    <result column="nation" jdbcType="INTEGER" property="nation" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="behalf_achievement" jdbcType="INTEGER" property="behalfAchievement" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="weight" jdbcType="INTEGER" property="weight" />
    <result column="dept_code" jdbcType="VARCHAR" property="deptCode" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="cn.com.wanwei.bic.entity.CelebrityEntity">
    <result column="chief_behalf" jdbcType="LONGVARCHAR" property="chiefBehalf" />
    <result column="story" jdbcType="LONGVARCHAR" property="story" />
  </resultMap>
  <sql id="Base_Column_List">
    id, created_user, created_date, updated_user, updated_date, category, name, simple_spell, 
    full_spell, alias, summary, description, slogan, sex, birth_date, pass_away_date, 
    birthplace, nation, type, behalf_achievement, status, weight, dept_code
  </sql>
  <sql id="Blob_Column_List">
    chief_behalf, story
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from t_bic_celebrity
    where id = #{id,jdbcType=VARCHAR}
  </select>
    <select id="findByPage" parameterType="java.util.Map" resultMap="BaseResultMap">
      select
      <include refid="Base_Column_List"/>
      from t_bic_celebrity
      <where>
        <if test="name != null and name!='' ">
          <bind name="name" value="'%'+name + '%'"></bind>
          and (name like #{name} or simple_spell like #{name} or full_spell like #{name})
        </if>
        <if test="simpleSpell != null and simpleSpell!='' ">
          <bind name="simpleSpell" value="'%'+simpleSpell + '%'"></bind>
          and simple_spell like #{simpleSpell}
        </if>
        <if test="fullSpell != null and fullSpell!='' ">
          <bind name="fullSpell" value="'%'+fullSpell + '%'"></bind>
          and full_spell like #{fullSpell}
        </if>
        <if test="category != null and category != ''">
          and category = #{category,jdbcType=VARCHAR}
        </if>
        <if test="type != null">
          and type = #{type,jdbcType=VARCHAR}
        </if>
        <if test="nation != null and nation!='' ">
          and nation like #{nation}
        </if>
        <if test="examineStatus != null">
          <if test="examineStatus == 0 or examineStatus == 2">
            and status = #{examineStatus,jdbcType=INTEGER}
          </if>
          <if test="examineStatus == 1">
            and (status = 1 or status = 9)
          </if>
        </if>
        <if test="onlineStatus != null">
          <if test="onlineStatus == 9">
            and status = #{onlineStatus,jdbcType=INTEGER}
          </if>
          <if test="onlineStatus == 1">
            and 9 > status
          </if>
        </if>
      </where>
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from t_bic_celebrity
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="cn.com.wanwei.bic.entity.CelebrityEntity">
    insert into t_bic_celebrity (id,created_user, created_date, updated_user,
      updated_date, category, name, 
      simple_spell, full_spell, alias, 
      summary, description, slogan, 
      sex, birth_date, pass_away_date, 
      birthplace, nation, type, 
      behalf_achievement, status, weight, 
      dept_code, chief_behalf, story
      )
    values (#{id,jdbcType=VARCHAR},#{createdUser,jdbcType=VARCHAR}, #{createdDate,jdbcType=TIMESTAMP}, #{updatedUser,jdbcType=VARCHAR},
      #{updatedDate,jdbcType=TIMESTAMP}, #{category,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
      #{simpleSpell,jdbcType=VARCHAR}, #{fullSpell,jdbcType=VARCHAR}, #{alias,jdbcType=VARCHAR}, 
      #{summary,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR}, #{slogan,jdbcType=VARCHAR}, 
      #{sex,jdbcType=INTEGER}, #{birthDate,jdbcType=TIMESTAMP}, #{passAwayDate,jdbcType=TIMESTAMP}, 
      #{birthplace,jdbcType=INTEGER}, #{nation,jdbcType=INTEGER}, #{type,jdbcType=VARCHAR}, 
      #{behalfAchievement,jdbcType=INTEGER}, #{status,jdbcType=INTEGER}, #{weight,jdbcType=INTEGER}, 
      #{deptCode,jdbcType=VARCHAR}, #{chiefBehalf,jdbcType=LONGVARCHAR}, #{story,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="cn.com.wanwei.bic.entity.CelebrityEntity">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.String">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_bic_celebrity
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="createdUser != null">
        created_user,
      </if>
      <if test="createdDate != null">
        created_date,
      </if>
      <if test="updatedUser != null">
        updated_user,
      </if>
      <if test="updatedDate != null">
        updated_date,
      </if>
      <if test="category != null">
        category,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="simpleSpell != null">
        simple_spell,
      </if>
      <if test="fullSpell != null">
        full_spell,
      </if>
      <if test="alias != null">
        alias,
      </if>
      <if test="summary != null">
        summary,
      </if>
      <if test="description != null">
        description,
      </if>
      <if test="slogan != null">
        slogan,
      </if>
      <if test="sex != null">
        sex,
      </if>
      <if test="birthDate != null">
        birth_date,
      </if>
      <if test="passAwayDate != null">
        pass_away_date,
      </if>
      <if test="birthplace != null">
        birthplace,
      </if>
      <if test="nation != null">
        nation,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="behalfAchievement != null">
        behalf_achievement,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="weight != null">
        weight,
      </if>
      <if test="deptCode != null">
        dept_code,
      </if>
      <if test="chiefBehalf != null">
        chief_behalf,
      </if>
      <if test="story != null">
        story,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="createdUser != null">
        #{createdUser,jdbcType=VARCHAR},
      </if>
      <if test="createdDate != null">
        #{createdDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedUser != null">
        #{updatedUser,jdbcType=VARCHAR},
      </if>
      <if test="updatedDate != null">
        #{updatedDate,jdbcType=TIMESTAMP},
      </if>
      <if test="category != null">
        #{category,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="simpleSpell != null">
        #{simpleSpell,jdbcType=VARCHAR},
      </if>
      <if test="fullSpell != null">
        #{fullSpell,jdbcType=VARCHAR},
      </if>
      <if test="alias != null">
        #{alias,jdbcType=VARCHAR},
      </if>
      <if test="summary != null">
        #{summary,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="slogan != null">
        #{slogan,jdbcType=VARCHAR},
      </if>
      <if test="sex != null">
        #{sex,jdbcType=INTEGER},
      </if>
      <if test="birthDate != null">
        #{birthDate,jdbcType=TIMESTAMP},
      </if>
      <if test="passAwayDate != null">
        #{passAwayDate,jdbcType=TIMESTAMP},
      </if>
      <if test="birthplace != null">
        #{birthplace,jdbcType=INTEGER},
      </if>
      <if test="nation != null">
        #{nation,jdbcType=INTEGER},
      </if>
      <if test="type != null">
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="behalfAchievement != null">
        #{behalfAchievement,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="weight != null">
        #{weight,jdbcType=INTEGER},
      </if>
      <if test="deptCode != null">
        #{deptCode,jdbcType=VARCHAR},
      </if>
      <if test="chiefBehalf != null">
        #{chiefBehalf,jdbcType=LONGVARCHAR},
      </if>
      <if test="story != null">
        #{story,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.com.wanwei.bic.entity.CelebrityEntity">
    update t_bic_celebrity
    <set>
      <if test="createdUser != null">
        created_user = #{createdUser,jdbcType=VARCHAR},
      </if>
      <if test="createdDate != null">
        created_date = #{createdDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedUser != null">
        updated_user = #{updatedUser,jdbcType=VARCHAR},
      </if>
      <if test="updatedDate != null">
        updated_date = #{updatedDate,jdbcType=TIMESTAMP},
      </if>
      <if test="category != null">
        category = #{category,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="simpleSpell != null">
        simple_spell = #{simpleSpell,jdbcType=VARCHAR},
      </if>
      <if test="fullSpell != null">
        full_spell = #{fullSpell,jdbcType=VARCHAR},
      </if>
      <if test="alias != null">
        alias = #{alias,jdbcType=VARCHAR},
      </if>
      <if test="summary != null">
        summary = #{summary,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="slogan != null">
        slogan = #{slogan,jdbcType=VARCHAR},
      </if>
      <if test="sex != null">
        sex = #{sex,jdbcType=INTEGER},
      </if>
      <if test="birthDate != null">
        birth_date = #{birthDate,jdbcType=TIMESTAMP},
      </if>
      <if test="passAwayDate != null">
        pass_away_date = #{passAwayDate,jdbcType=TIMESTAMP},
      </if>
      <if test="birthplace != null">
        birthplace = #{birthplace,jdbcType=INTEGER},
      </if>
      <if test="nation != null">
        nation = #{nation,jdbcType=INTEGER},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=VARCHAR},
      </if>
      <if test="behalfAchievement != null">
        behalf_achievement = #{behalfAchievement,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="weight != null">
        weight = #{weight,jdbcType=INTEGER},
      </if>
      <if test="deptCode != null">
        dept_code = #{deptCode,jdbcType=VARCHAR},
      </if>
      <if test="chiefBehalf != null">
        chief_behalf = #{chiefBehalf,jdbcType=LONGVARCHAR},
      </if>
      <if test="story != null">
        story = #{story,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="cn.com.wanwei.bic.entity.CelebrityEntity">
    update t_bic_celebrity
    set created_user = #{createdUser,jdbcType=VARCHAR},
      created_date = #{createdDate,jdbcType=TIMESTAMP},
      updated_user = #{updatedUser,jdbcType=VARCHAR},
      updated_date = #{updatedDate,jdbcType=TIMESTAMP},
      category = #{category,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      simple_spell = #{simpleSpell,jdbcType=VARCHAR},
      full_spell = #{fullSpell,jdbcType=VARCHAR},
      alias = #{alias,jdbcType=VARCHAR},
      summary = #{summary,jdbcType=VARCHAR},
      description = #{description,jdbcType=VARCHAR},
      slogan = #{slogan,jdbcType=VARCHAR},
      sex = #{sex,jdbcType=INTEGER},
      birth_date = #{birthDate,jdbcType=TIMESTAMP},
      pass_away_date = #{passAwayDate,jdbcType=TIMESTAMP},
      birthplace = #{birthplace,jdbcType=INTEGER},
      nation = #{nation,jdbcType=INTEGER},
      type = #{type,jdbcType=VARCHAR},
      behalf_achievement = #{behalfAchievement,jdbcType=INTEGER},
      status = #{status,jdbcType=INTEGER},
      weight = #{weight,jdbcType=INTEGER},
      dept_code = #{deptCode,jdbcType=VARCHAR},
      chief_behalf = #{chiefBehalf,jdbcType=LONGVARCHAR},
      story = #{story,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.com.wanwei.bic.entity.CelebrityEntity">
    update t_bic_celebrity
    set created_user = #{createdUser,jdbcType=VARCHAR},
      created_date = #{createdDate,jdbcType=TIMESTAMP},
      updated_user = #{updatedUser,jdbcType=VARCHAR},
      updated_date = #{updatedDate,jdbcType=TIMESTAMP},
      category = #{category,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      simple_spell = #{simpleSpell,jdbcType=VARCHAR},
      full_spell = #{fullSpell,jdbcType=VARCHAR},
      alias = #{alias,jdbcType=VARCHAR},
      summary = #{summary,jdbcType=VARCHAR},
      description = #{description,jdbcType=VARCHAR},
      slogan = #{slogan,jdbcType=VARCHAR},
      sex = #{sex,jdbcType=INTEGER},
      birth_date = #{birthDate,jdbcType=TIMESTAMP},
      pass_away_date = #{passAwayDate,jdbcType=TIMESTAMP},
      birthplace = #{birthplace,jdbcType=INTEGER},
      nation = #{nation,jdbcType=INTEGER},
      type = #{type,jdbcType=VARCHAR},
      behalf_achievement = #{behalfAchievement,jdbcType=INTEGER},
      status = #{status,jdbcType=INTEGER},
      weight = #{weight,jdbcType=INTEGER},
      dept_code = #{deptCode,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="dataBind">
    update t_bic_celebrity
    set updated_date = #{updatedDate,jdbcType=TIMESTAMP},
    updated_user = #{updatedUser,jdbcType=VARCHAR},
    dept_code = #{deptCode,jdbcType=VARCHAR}
    where id in
    <foreach collection="ids" item="item" index="index" open="(" separator="," close=")">
      #{item}
    </foreach>
  </update>
</mapper>