<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.wanwei.bic.mapper.DataSyncMapper">
    <resultMap id="BaseResultMap" type="cn.com.wanwei.bic.model.DataSyncModel">
        <id column="id" jdbcType="VARCHAR" property="id"/>
        <result column="title" jdbcType="VARCHAR" property="title"/>
        <result column="address" jdbcType="VARCHAR" property="address"/>
        <result column="region" jdbcType="VARCHAR" property="region"/>
        <result column="longitude" jdbcType="DOUBLE" property="longitude"/>
        <result column="latitude" jdbcType="DOUBLE" property="latitude"/>
        <result column="phone" jdbcType="VARCHAR" property="phone"/>
        <result column="content" jdbcType="LONGVARCHAR" property="content"/>
        <result column="grade" jdbcType="VARCHAR" property="grade"/>
        <result column="score" jdbcType="REAL" property="score"/>
        <result column="weight" jdbcType="INTEGER" property="weight"/>
        <result column="category" jdbcType="VARCHAR" property="category"/>
        <result column="type" jdbcType="VARCHAR" property="type"/>
    </resultMap>

    <select id="findScenicByPage" parameterType="java.util.Map" resultMap="BaseResultMap">
        <include refid="Get_Scenic_Page_Info"/>
    </select>

    <sql id="Get_Scenic_Page_Info">
        select s.*,b.phone from
        ( select
        id id,
        title title,
        address address,
        region region,
        longitude longitude,
        latitude latitude,
        content content,
        level grade,
        if(score is null,0,score) score,
        weight weight,
        category category,
        '' type
        from t_bic_scenic
        <where>
            status >= 9
            <if test="category != null">
                and category = #{category,jdbcType=VARCHAR}
            </if>
            <include refid="Add_Date_Scope_Params"/>
        </where>
        )s
        left join t_bic_business b on b.principal_id=s.id
    </sql>

    <select id="findRentalCarByPage" parameterType="java.util.Map" resultMap="BaseResultMap">
        <include refid="Get_RentalCar_Page_Info"/>
    </select>

    <sql id="Get_RentalCar_Page_Info">
        select s.*,b.phone from
        ( select
        id id,
        title title,
        address address,
        region region,
        longitude longitude,
        latitude latitude,
        content content,
        '' grade,
        0 score,
        weight weight,
        '125004001' category,
        '' type
        from t_bic_scenic
        <where>
            status >= 9
            <include refid="Add_Date_Scope_Params"/>
        </where>
        )s
        left join t_bic_business b on b.principal_id=s.id
    </sql>

    <select id="findTravelByPage" parameterType="java.util.Map" resultMap="BaseResultMap">
        <include refid="Get_Travel_Page_Info"/>
    </select>

    <sql id="Get_Travel_Page_Info">
        select id, title, address, region, longitude, latitude, content, level as grade, 0 as score, weight,'' category,'' phone, '' type
        from t_bic_travel_agent
        <where>
            status >= 9
            <include refid="Add_Date_Scope_Params"/>
        </where>
    </sql>

    <select id="findPeripheryByPage" parameterType="java.util.Map" resultMap="BaseResultMap">
        <include refid="Get_Periphery_Page_Info"/>
    </select>

    <sql id="Get_Periphery_Page_Info">
        SELECT id id,
        title title,
        address address,
        region region,
        longitude longitude,
        latitude latitude,
        phone phone,
        content content,
        0 grade,
        score score,
        weight weight,
        category category,
        type type
        FROM t_bic_periphery
        <where>
            status >= 9
            <if test="category != null and category ！= ''">
                and category = #{category,jdbcType=VARCHAR}
            </if>
            <include refid="Add_Date_Scope_Params"/>
        </where>
    </sql>

    <select id="findEntertainmentByPage" parameterType="java.util.Map" resultMap="BaseResultMap">
        <include refid="Get_Entertainment_Page_Info"/>
    </select>

    <sql id="Get_Entertainment_Page_Info">
        SELECT t.id id,
        t.title title,
        t.address address,
        t.region region,
        t.longitude longitude,
        t.latitude latitude,
        s.phone phone,
        t.content content,
        0 grade,
        0 score,
        t.weight weight,
        '125005002' category,
        '125005002' type
        FROM t_bic_entertainment t
        LEFT JOIN t_bic_business s ON t.id=s.principal_id
        <where>
            status >= 9
            <include refid="Add_Date_Scope_Params"/>
        </where>
    </sql>

    <select id="findDriveCampByPage" parameterType="java.util.Map" resultMap="BaseResultMap">
        <include refid="Get_DriveCamp_Page_Info"/>
    </select>

    <sql id="Get_DriveCamp_Page_Info">
        SELECT t.id id,
        t.title title,
        t.address address,
        t.region region,
        t.longitude longitude,
        t.latitude latitude,
        s.phone phone,
        t.content content,
        0 grade,
        0 score,
        t.weight weight,
        '125005001' category,
        '125005001' type
        FROM t_bic_drive_camp t
        LEFT JOIN t_bic_business s ON t.id=s.principal_id
        <where>
            status >= 9
            <include refid="Add_Date_Scope_Params"/>
        </where>
    </sql>

    <select id="findTrafficAgentByPage" parameterType="java.util.Map" resultMap="BaseResultMap">
        <include refid="Get_TrafficAgent_Page_Info"/>
    </select>

    <sql id="Get_TrafficAgent_Page_Info">
        SELECT id id,
        title title,
        address address,
        region region,
        longitude longitude,
        latitude latitude,
        phone phone,
        content content,
        0 grade,
        0 score,
        t.weight weight,
        '125004002' category,
        type type
        FROM t_bic_traffic_agent t
        <where>
            status >= 9
            <include refid="Add_Date_Scope_Params"/>
        </where>
    </sql>



    <sql id="Add_Date_Scope_Params">
        <if test="startDate != null and startDate != '' and endDate != null and endDate != ''">
            and updated_date BETWEEN #{startDate,jdbcType=VARCHAR} and #{endDate,jdbcType=VARCHAR}
        </if>
    </sql>


</mapper>