<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.wanwei.bic.mapper.DataSyncMapper">
    <resultMap id="BaseResultMap" type="cn.com.wanwei.bic.model.DataSyncModel">
        <id column="id" jdbcType="VARCHAR" property="id"/>
        <result column="title" jdbcType="VARCHAR" property="title"/>
        <result column="address" jdbcType="VARCHAR" property="address"/>
        <result column="region" jdbcType="VARCHAR" property="region"/>
        <result column="longitude" jdbcType="DOUBLE" property="longitude"/>
        <result column="latitude" jdbcType="DOUBLE" property="latitude"/>
        <result column="phone" jdbcType="VARCHAR" property="phone"/>
        <result column="content" jdbcType="LONGVARCHAR" property="content"/>
        <result column="grade" jdbcType="VARCHAR" property="grade"/>
        <result column="score" jdbcType="REAL" property="score"/>
        <result column="weight" jdbcType="INTEGER" property="weight"/>
        <result column="category" jdbcType="VARCHAR" property="category"/>
        <result column="type" jdbcType="VARCHAR" property="type"/>
    </resultMap>

    <select id="findScenicByPage" parameterType="java.util.Map" resultMap="BaseResultMap">
        select s.*,b.phone
        from  ( select id id, title title, address address, region region, longitude longitude, latitude latitude,
        content content, level grade, if(score is null,0,score) score, weight weight, category category,null type
        from t_bic_scenic
        <where>
            status >= 9
            <if test="category != null">
                and category = #{category,jdbcType=VARCHAR}
            </if>
            <include refid="Add_Date_Scope_Params"/>
        </where>
        )s
        left join t_bic_business b on b.principal_id=s.id
    </select>

    <select id="findRentalCarByPage" parameterType="java.util.Map" resultMap="BaseResultMap">
        select s.*,b.phone
        from ( select id id, title title, address address, region region, longitude longitude, latitude latitude,
        content content, null grade, null score, weight weight, null category, null type
        from t_bic_scenic
        <where>
            status >= 9
            <include refid="Add_Date_Scope_Params"/>
        </where>
        )s
        left join t_bic_business b on b.principal_id=s.id
    </select>

    <select id="findTravelByPage" parameterType="java.util.Map" resultMap="BaseResultMap">
        SELECT s.*, b.phone
        FROM ( SELECT id id, title title, address address, region region, longitude longitude, latitude latitude,
                content content, LEVEL grade, NULL score, weight weight, NULL category, NULL type
                FROM t_bic_travel_agent
                <where>
                    status >= 9
                    <include refid="Add_Date_Scope_Params"/>
                </where>
            ) s
        LEFT JOIN t_bic_business b ON b.principal_id = s.id
    </select>

    <select id="findPeripheryByPage" parameterType="java.util.Map" resultMap="BaseResultMap">
        SELECT id id, title title, address address, region region, longitude longitude, latitude latitude,
        phone phone, content content,  null grade, score score, weight weight,category category,type type
        FROM t_bic_periphery
        <where>
            status >= 9
            <if test="category != null and category != ''">
                and category = #{category,jdbcType=VARCHAR}
            </if>
            <include refid="Add_Date_Scope_Params"/>
        </where>
    </select>

    <select id="findEntertainmentByPage" parameterType="java.util.Map" resultMap="BaseResultMap">
        SELECT t.id id, t.title title, t.address address, t.region region,t.longitude longitude,t.latitude latitude,
        s.phone phone,t.content content,null grade, 0 score, t.weight weight,null category, null type
        FROM t_bic_entertainment t
        LEFT JOIN t_bic_business s ON t.id=s.principal_id
        <where>
            status >= 9
            <include refid="Add_Date_Scope_Params"/>
        </where>
    </select>

    <select id="findDriveCampByPage" parameterType="java.util.Map" resultMap="BaseResultMap">
        SELECT t.id id, t.title title, t.address address, t.region region, t.longitude longitude,  t.latitude latitude,
        s.phone phone, t.content content,  null grade, 0 score, t.weight weight, null category, null type
        FROM t_bic_drive_camp t
        LEFT JOIN t_bic_business s ON t.id=s.principal_id
        <where>
            status >= 9
            <include refid="Add_Date_Scope_Params"/>
        </where>
    </select>

    <select id="findTrafficAgentByPage" parameterType="java.util.Map" resultMap="BaseResultMap">
        SELECT id id, title title, address address, region region, longitude longitude, latitude latitude,
         phone phone, content content, null grade,  0 score, t.weight weight, null category, type type
        FROM t_bic_traffic_agent t
        <where>
            status >= 9
            <include refid="Add_Date_Scope_Params"/>
        </where>
    </select>

    <sql id="Add_Date_Scope_Params">
        <if test="syncType == 1 and startDate != null and startDate != '' and endDate != null and endDate != ''">
            and updated_date BETWEEN #{startDate,jdbcType=VARCHAR} and #{endDate,jdbcType=VARCHAR}
        </if>
    </sql>


</mapper>