<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.wanwei.bic.mapper.EntertainmentMapper">
    <resultMap id="BaseResultMap" type="cn.com.wanwei.bic.entity.EntertainmentEntity">
        <id column="id" jdbcType="VARCHAR" property="id"/>
        <result column="type" jdbcType="INTEGER" property="type"/>
        <result column="code" jdbcType="VARCHAR" property="code"/>
        <result column="title" jdbcType="VARCHAR" property="title"/>
        <result column="sub_title" jdbcType="VARCHAR" property="subTitle"/>
        <result column="slogan" jdbcType="VARCHAR" property="slogan"/>
        <result column="summary" jdbcType="VARCHAR" property="summary"/>
        <result column="description" jdbcType="VARCHAR" property="description"/>
        <result column="weight" jdbcType="INTEGER" property="weight"/>
        <result column="longitude" jdbcType="DOUBLE" property="longitude"/>
        <result column="latitude" jdbcType="DOUBLE" property="latitude"/>
        <result column="region_full_name" jdbcType="VARCHAR" property="regionFullName"/>
        <result column="region_full_code" jdbcType="VARCHAR" property="regionFullCode"/>
        <result column="region" jdbcType="VARCHAR" property="region"/>
        <result column="address" jdbcType="VARCHAR" property="address"/>
        <result column="status" jdbcType="INTEGER" property="status"/>
        <result column="scenic_id" jdbcType="VARCHAR" property="scenicId"/>
        <result column="within_scenic" jdbcType="INTEGER" property="withinScenic"/>
        <result column="within_park" jdbcType="INTEGER" property="withinPark"/>
        <result column="num" jdbcType="INTEGER" property="num"/>
        <result column="dept_code" jdbcType="VARCHAR" property="deptCode"/>
        <result column="created_user" jdbcType="VARCHAR" property="createdUser"/>
        <result column="created_date" jdbcType="TIMESTAMP" property="createdDate"/>
        <result column="updated_user" jdbcType="VARCHAR" property="updatedUser"/>
        <result column="updated_date" jdbcType="TIMESTAMP" property="updatedDate"/>
        <result column="content" jdbcType="LONGVARCHAR" property="content"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, `type`, code, title, sub_title, slogan, summary, description, weight, longitude,
    latitude, region_full_name, region_full_code, region, address, status, scenic_id, 
    within_scenic, within_park, num, dept_code, created_user, created_date, updated_user, 
    updated_date,content
  </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_bic_entertainment
        where id = #{id,jdbcType=VARCHAR}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from t_bic_entertainment
    where id = #{id,jdbcType=VARCHAR}
  </delete>
    <insert id="insert" parameterType="cn.com.wanwei.bic.entity.EntertainmentEntity">
    insert into t_bic_entertainment (id,`type`, code, title,
      sub_title, slogan, summary, 
      description, weight, longitude, 
      latitude, region_full_name, region_full_code, 
      region, address, status, 
      scenic_id, within_scenic, within_park, 
      num, dept_code, created_user, 
      created_date, updated_user, updated_date, 
      content)
    values (#{id,jdbcType=VARCHAR},#{type,jdbcType=INTEGER}, #{code,jdbcType=VARCHAR}, #{title,jdbcType=VARCHAR},
      #{subTitle,jdbcType=VARCHAR}, #{slogan,jdbcType=VARCHAR}, #{summary,jdbcType=VARCHAR}, 
      #{description,jdbcType=VARCHAR}, #{weight,jdbcType=INTEGER}, #{longitude,jdbcType=DOUBLE},
      #{latitude,jdbcType=DOUBLE}, #{regionFullName,jdbcType=VARCHAR}, #{regionFullCode,jdbcType=VARCHAR}, 
      #{region,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER},
      #{scenicId,jdbcType=VARCHAR}, #{withinScenic,jdbcType=INTEGER}, #{withinPark,jdbcType=INTEGER},
      #{num,jdbcType=INTEGER}, #{deptCode,jdbcType=VARCHAR}, #{createdUser,jdbcType=VARCHAR}, 
      #{createdDate,jdbcType=TIMESTAMP}, #{updatedUser,jdbcType=VARCHAR}, #{updatedDate,jdbcType=TIMESTAMP}, 
      #{content,jdbcType=LONGVARCHAR})
  </insert>
    <update id="updateByPrimaryKey" parameterType="cn.com.wanwei.bic.entity.EntertainmentEntity">
    update t_bic_entertainment
    set `type` = #{type,jdbcType=INTEGER},
      code = #{code,jdbcType=VARCHAR},
      title = #{title,jdbcType=VARCHAR},
      sub_title = #{subTitle,jdbcType=VARCHAR},
      slogan = #{slogan,jdbcType=VARCHAR},
      summary = #{summary,jdbcType=VARCHAR},
      description = #{description,jdbcType=VARCHAR},
      weight = #{weight,jdbcType=INTEGER},
      longitude = #{longitude,jdbcType=DOUBLE},
      latitude = #{latitude,jdbcType=DOUBLE},
      region_full_name = #{regionFullName,jdbcType=VARCHAR},
      region_full_code = #{regionFullCode,jdbcType=VARCHAR},
      region = #{region,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      status = #{status,jdbcType=BIT},
      scenic_id = #{scenicId,jdbcType=VARCHAR},
      within_scenic = #{withinScenic,jdbcType=TINYINT},
      within_park = #{withinPark,jdbcType=TINYINT},
      num = #{num,jdbcType=INTEGER},
      dept_code = #{deptCode,jdbcType=VARCHAR},
      created_user = #{createdUser,jdbcType=VARCHAR},
      created_date = #{createdDate,jdbcType=TIMESTAMP},
      updated_user = #{updatedUser,jdbcType=VARCHAR},
      updated_date = #{updatedDate,jdbcType=TIMESTAMP},
      content = #{content,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
    <select id="findByPage" parameterType="java.util.Map" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_bic_entertainment
        <where>
            <if test="type!=null and type!='' ">
                and `type` = #{type,jdbcType=INTEGER}
            </if>
            <if test="title!=null and title!='' ">
                <bind name="title" value="'%'+title + '%'"></bind>
                and title like #{title}
            </if>
            <if test="subTitle != null and subTitle!='' ">
                <bind name="subTitle" value="'%'+subTitle + '%'"></bind>
                and sub_title like #{subTitle}
            </if>
            <if test="regionFullCode != null and regionFullCode!='' ">
                <bind name="regionFullCode" value="regionFullCode + '%'"></bind>
                and region_full_code like #{regionFullCode}
            </if>
            <if test="status != null">
                <if test="status == 0 or status == 2">
                    and status = #{status,jdbcType=INTEGER}
                </if>
                <if test="status == 1">
                    and (status = 1 or status = 9)
                </if>
            </if>
            <if test="onlineStatus != null">
                <if test="onlineStatus == 9">
                    and status = #{onlineStatus,jdbcType=INTEGER}
                </if>
                <if test="onlineStatus == 1">
                    and 9 > status
                </if>
            </if>
        </where>
    </select>
    <select id="checkTitle" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_bic_entertainment
        where title = #{title,jdbcType=VARCHAR}
    </select>

    <update id="dataBind">
        update t_bic_entertainment
        set updated_date = #{updatedDate,jdbcType=TIMESTAMP},
        updated_user = #{updatedUser,jdbcType=VARCHAR},
        dept_code = #{deptCode,jdbcType=VARCHAR}
        where id in
        <foreach collection="ids" item="item" index="index" open="(" separator="," close=")">
            #{item}
        </foreach>
    </update>

    <update id="clearWeight">
    update t_bic_entertainment set weight=0
  </update>
    <select id="maxWeight" resultType="Integer">
    select weight from t_bic_entertainment order by weight desc limit 1
  </select>
    <select id="getEnterList" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_bic_entertainment
    </select>
    <!--农家乐-->
    <select id="findBySearchValue" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_bic_entertainment
        <where>
            <if test="searchValue != null and searchValue != ''">
                <bind name="searchValue" value="'%'+ searchValue + '%'"></bind>
                and title like #{searchValue}
            </if>
        </where>
    </select>
    <!--根据区域获取农家乐列表-->
    <select id="agritainmentsPageNew" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_bic_entertainment
        <where>
            <if test="regionFullCode != null and regionFullCode != ''">
                <bind name="regionFullCode" value="regionFullCode + '%'"></bind>
                and region_full_code like #{regionFullCode}
            </if>
            <if test="title!=null and title!='' ">
                <bind name="title" value="'%'+title + '%'"></bind>
                and title like #{title}
            </if>
            <if test="subTitle != null and subTitle!='' ">
                <bind name="subTitle" value="'%'+subTitle + '%'"></bind>
                and sub_title like #{subTitle}
            </if>
            <if test="status != null">
                <if test="status == 9">
                    and status = #{status,jdbcType=INTEGER}
                </if>
                <if test="status == 1">
                    and (status = 1 or status = 0)
                </if>
            </if>
            <if test="ids!=null">
                and id not in
                <foreach collection="ids" item="item" index="index" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
        </where>
    </select>
    <!--根据ids获取农家乐列表-->
    <select id="findPageIds" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_bic_entertainment
        <where>
            id in
            <foreach collection="ids" item="item" index="index" open="(" separator="," close=")">
                #{item}
            </foreach>
            <if test="status != null">
                <if test="status == 9">
                    and status = #{status,jdbcType=INTEGER}
                </if>
                <if test="status == 1">
                    and (status = 1 or status = 0)
                </if>
            </if>
        </where>
    </select>
</mapper>