<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.wanwei.bic.mapper.HeritageMapper">
  <resultMap id="BaseResultMap" type="cn.com.wanwei.bic.entity.HeritageEntity">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="created_user" jdbcType="VARCHAR" property="createdUser" />
    <result column="created_date" jdbcType="TIMESTAMP" property="createdDate" />
    <result column="updated_user" jdbcType="VARCHAR" property="updatedUser" />
    <result column="updated_date" jdbcType="TIMESTAMP" property="updatedDate" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="sub_title" jdbcType="VARCHAR" property="subTitle" />
    <result column="simple_spell" jdbcType="VARCHAR" property="simpleSpell" />
    <result column="full_spell" jdbcType="VARCHAR" property="fullSpell" />
    <result column="code" jdbcType="VARCHAR" property="code" />
    <result column="category" jdbcType="VARCHAR" property="category" />
    <result column="level" jdbcType="VARCHAR" property="level" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="relate_project" jdbcType="VARCHAR" property="relateProject" />
    <result column="heritage_serial" jdbcType="VARCHAR" property="heritageSerial" />
    <result column="summary" jdbcType="VARCHAR" property="summary" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="slogan" jdbcType="VARCHAR" property="slogan" />
    <result column="publish_time" jdbcType="VARCHAR" property="publishTime" />
    <result column="region" jdbcType="VARCHAR" property="region" />
    <result column="region_full_name" jdbcType="VARCHAR" property="regionFullName" />
    <result column="region_full_code" jdbcType="VARCHAR" property="regionFullCode" />
    <result column="declare_group" jdbcType="VARCHAR" property="declareGroup" />
    <result column="guard_group" jdbcType="VARCHAR" property="guardGroup" />
    <result column="nation" jdbcType="VARCHAR" property="nation" />
    <result column="inherit_region" jdbcType="VARCHAR" property="inheritRegion" />
    <result column="celebrity_ids" jdbcType="VARCHAR" property="celebrityIds" />
    <result column="vr_url" jdbcType="VARCHAR" property="vrUrl" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="weight" jdbcType="INTEGER" property="weight" />
    <result column="dept_code" jdbcType="VARCHAR" property="deptCode" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="cn.com.wanwei.bic.entity.HeritageEntity">
    <result column="content" jdbcType="LONGVARCHAR" property="content" />
  </resultMap>
  <sql id="Base_Column_List">
    id, created_user, created_date, updated_user, updated_date, title, sub_title, simple_spell, 
    full_spell, code, category, level, type, relate_project, heritage_serial, summary, 
    description, slogan, publish_time, region, region_full_name, region_full_code, declare_group, 
    guard_group, nation, inherit_region, celebrity_ids, vr_url, status, weight, dept_code
  </sql>
  <sql id="Blob_Column_List">
    content
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from t_bic_heritage
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from t_bic_heritage
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="cn.com.wanwei.bic.entity.HeritageEntity">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.String">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_bic_heritage (id,created_user, created_date, updated_user,
      updated_date, title, sub_title, 
      simple_spell, full_spell, code, 
      category, level, type, 
      relate_project, heritage_serial, summary, 
      description, slogan, publish_time, 
      region, region_full_name, region_full_code, 
      declare_group, guard_group, nation, 
      inherit_region, celebrity_ids, vr_url, 
      status, weight, dept_code, 
      content)
    values (#{id,jdbcType=VARCHAR}, #{createdUser,jdbcType=VARCHAR}, #{createdDate,jdbcType=TIMESTAMP}, #{updatedUser,jdbcType=VARCHAR},
      #{updatedDate,jdbcType=TIMESTAMP}, #{title,jdbcType=VARCHAR}, #{subTitle,jdbcType=VARCHAR}, 
      #{simpleSpell,jdbcType=VARCHAR}, #{fullSpell,jdbcType=VARCHAR}, #{code,jdbcType=VARCHAR}, 
      #{category,jdbcType=VARCHAR}, #{level,jdbcType=VARCHAR}, #{type,jdbcType=VARCHAR}, 
      #{relateProject,jdbcType=VARCHAR}, #{heritageSerial,jdbcType=VARCHAR}, #{summary,jdbcType=VARCHAR}, 
      #{description,jdbcType=VARCHAR}, #{slogan,jdbcType=VARCHAR}, #{publishTime,jdbcType=VARCHAR}, 
      #{region,jdbcType=VARCHAR}, #{regionFullName,jdbcType=VARCHAR}, #{regionFullCode,jdbcType=VARCHAR}, 
      #{declareGroup,jdbcType=VARCHAR}, #{guardGroup,jdbcType=VARCHAR}, #{nation,jdbcType=VARCHAR}, 
      #{inheritRegion,jdbcType=VARCHAR}, #{celebrityIds,jdbcType=VARCHAR}, #{vrUrl,jdbcType=VARCHAR}, 
      #{status,jdbcType=INTEGER}, #{weight,jdbcType=INTEGER}, #{deptCode,jdbcType=VARCHAR}, 
      #{content,jdbcType=LONGVARCHAR})
  </insert>

  <update id="updateByPrimaryKey" parameterType="cn.com.wanwei.bic.entity.HeritageEntity">
    update t_bic_heritage
    set created_user = #{createdUser,jdbcType=VARCHAR},
      created_date = #{createdDate,jdbcType=TIMESTAMP},
      updated_user = #{updatedUser,jdbcType=VARCHAR},
      updated_date = #{updatedDate,jdbcType=TIMESTAMP},
      title = #{title,jdbcType=VARCHAR},
      sub_title = #{subTitle,jdbcType=VARCHAR},
      simple_spell = #{simpleSpell,jdbcType=VARCHAR},
      full_spell = #{fullSpell,jdbcType=VARCHAR},
      code = #{code,jdbcType=VARCHAR},
      category = #{category,jdbcType=VARCHAR},
      level = #{level,jdbcType=VARCHAR},
      type = #{type,jdbcType=VARCHAR},
      relate_project = #{relateProject,jdbcType=VARCHAR},
      heritage_serial = #{heritageSerial,jdbcType=VARCHAR},
      summary = #{summary,jdbcType=VARCHAR},
      description = #{description,jdbcType=VARCHAR},
      slogan = #{slogan,jdbcType=VARCHAR},
      publish_time = #{publishTime,jdbcType=VARCHAR},
      region = #{region,jdbcType=VARCHAR},
      region_full_name = #{regionFullName,jdbcType=VARCHAR},
      region_full_code = #{regionFullCode,jdbcType=VARCHAR},
      declare_group = #{declareGroup,jdbcType=VARCHAR},
      guard_group = #{guardGroup,jdbcType=VARCHAR},
      nation = #{nation,jdbcType=VARCHAR},
      inherit_region = #{inheritRegion,jdbcType=VARCHAR},
      celebrity_ids = #{celebrityIds,jdbcType=VARCHAR},
      vr_url = #{vrUrl,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      weight = #{weight,jdbcType=INTEGER},
      dept_code = #{deptCode,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>

  <select id="findByPage" parameterType="java.util.Map" resultMap="BaseResultMap">
    <include refid="Get_Page_Info"/>
  </select>

  <sql id="Get_Page_Info">
    select
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from t_bic_heritage
    <where>
      <if test="title != null and title!='' ">
        <bind name="title" value="'%'+title + '%'"></bind>
        and (title like #{title} or full_spell like #{title} or simple_spell like #{title})
      </if>
      <if test="subTitle != null and subTitle!='' ">
        <bind name="subTitle" value="'%'+subTitle + '%'"></bind>
        and sub_title like #{subTitle}
      </if>
      <if test="category != null and category!=''" >
        and category = #{category,jdbcType=VARCHAR}
      </if>
      <if test="level != null">
        and level = #{level,jdbcType=VARCHAR}
      </if>
      <if test="areaName != null and areaName!='' ">
        <bind name="areaName" value="'%'+areaName + '%'"></bind>
        and region_full_name like #{areaName}
      </if>
      <if test="areaCode != null and areaCode!='' ">
        <bind name="areaCode" value="areaCode + '%'"></bind>
        and region_full_code like #{areaCode}
      </if>
      <if test="examineStatus != null">
        <if test="examineStatus == 0 or examineStatus == 2">
          and status = #{examineStatus,jdbcType=INTEGER}
        </if>
        <if test="examineStatus == 1">
          and (status = 1 or status = 9)
        </if>
      </if>
      <if test="onlineStatus != null">
        <if test="onlineStatus == 9">
          and status = #{onlineStatus,jdbcType=INTEGER}
        </if>
        <if test="onlineStatus == 1">
          and 9 > status
        </if>
      </if>
    </where>
  </sql>

  <update id="dataBind">
    update t_bic_heritage
    set updated_date = #{updatedDate,jdbcType=TIMESTAMP},
    updated_user = #{updatedUser,jdbcType=VARCHAR},
    dept_code = #{deptCode,jdbcType=VARCHAR}
    where id in
    <foreach collection="ids" item="item" index="index" open="(" separator="," close=")">
      #{item}
    </foreach>
  </update>

  <select id="existsByTitleAndIdNot" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from t_bic_heritage
    <where>
      <if test="title != null">
        and title = #{title,jdbcType=VARCHAR}
      </if>
      <if test="id != null and id != '-1'.toString()">
        and id != #{id,jdbcType=BIGINT}
      </if>
    </where>
  </select>
</mapper>