<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.wanwei.bic.mapper.MaterialMapper">
    <resultMap id="BaseResultMap" type="cn.com.wanwei.bic.entity.MaterialEntity">
        <id column="id" jdbcType="VARCHAR" property="id"/>
        <result column="principal_id" jdbcType="VARCHAR" property="principalId"/>
        <result column="material_id" jdbcType="VARCHAR" property="materialId"/>
        <result column="file_type" jdbcType="VARCHAR" property="fileType"/>
        <result column="file_url" jdbcType="VARCHAR" property="fileUrl"/>
        <result column="file_identify" jdbcType="INTEGER" property="fileIdentify"/>
        <result column="created_user" jdbcType="VARCHAR" property="createdUser"/>
        <result column="created_date" jdbcType="TIMESTAMP" property="createdDate"/>
        <result column="updated_user" jdbcType="VARCHAR" property="updatedUser"/>
        <result column="updated_date" jdbcType="TIMESTAMP" property="updatedDate"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, principal_id, material_id, file_type, file_url, file_identify, created_user,
        created_date, updated_user, updated_date
    </sql>

    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_bic_material
        where id = #{id,jdbcType=VARCHAR}
    </select>

    <select id="findByPrincipalId" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_bic_material
        where principal_id = #{principalId,jdbcType=VARCHAR}
    </select>

    <select id="findByPidAndType" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_bic_material
        where principal_id = #{principalId,jdbcType=VARCHAR}
        AND file_type = #{type,jdbcType=VARCHAR}
    </select>

    <select id="findByPidAndIdentify" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_bic_material
        where principal_id = #{principalId,jdbcType=VARCHAR}
        AND file_identify = #{fileIdentify,jdbcType=INTEGER}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
        delete from t_bic_material
        where id = #{id,jdbcType=VARCHAR}
    </delete>

    <delete id="deleteByPrincipalIds" parameterType="java.util.List">
        delete from t_bic_material
        where id in
        <foreach collection="ids" item="item" open="(" separator="," close=")">
            #{item, jdbcType=VARCHAR}
        </foreach>
    </delete>

    <insert id="insert" parameterType="cn.com.wanwei.bic.entity.MaterialEntity" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        insert into t_bic_material (principal_id, material_id, file_type,
        file_url, file_identify, created_user,
        created_date, updated_user, updated_date )
        values
        (
            #{principalId,jdbcType=VARCHAR}, #{materialId,jdbcType=VARCHAR}, #{fileType,jdbcType=VARCHAR},
            #{fileUrl,jdbcType=VARCHAR}, #{fileIdentify,jdbcType=BIT}, #{createdUser,jdbcType=VARCHAR},
            #{createdDate,jdbcType=TIMESTAMP}, #{updatedUser,jdbcType=VARCHAR}, #{updatedDate,jdbcType=TIMESTAMP}
        )
    </insert>

    <insert id="batchInsert" parameterType="java.util.List">
        insert into t_bic_material (principal_id, material_id, file_type,
        file_url, file_identify, created_user,
        created_date, updated_user, updated_date )
        values
        <foreach collection="list" item="item" index="index" separator=",">
            (
                #{item.principalId,jdbcType=VARCHAR}, #{item.materialId,jdbcType=VARCHAR},
                #{item.fileType,jdbcType=VARCHAR},#{item.fileUrl,jdbcType=VARCHAR},
                #{item.fileIdentify,jdbcType=INTEGER}, #{item.createdUser,jdbcType=VARCHAR},
                #{item.createdDate,jdbcType=TIMESTAMP}, #{item.updatedUser,jdbcType=VARCHAR},
                #{item.updatedDate,jdbcType=TIMESTAMP}
            )
        </foreach>
    </insert>

    <update id="updateByPrimaryKey" parameterType="cn.com.wanwei.bic.entity.MaterialEntity">
        update t_bic_material
        set principal_id = #{principalId,jdbcType=VARCHAR},
            material_id = #{materialId,jdbcType=VARCHAR},
            file_type = #{fileType,jdbcType=VARCHAR},
            file_url = #{fileUrl,jdbcType=VARCHAR},
            file_identify = #{fileIdentify,jdbcType=INTEGER},
            created_user = #{createdUser,jdbcType=VARCHAR},
            created_date = #{createdDate,jdbcType=TIMESTAMP},
            updated_user = #{updatedUser,jdbcType=VARCHAR},
            updated_date = #{updatedDate,jdbcType=TIMESTAMP}
        where id = #{id,jdbcType=VARCHAR}
    </update>
</mapper>