<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.wanwei.bic.mapper.TrafficAgentMapper">
  <resultMap id="BaseResultMap" type="cn.com.wanwei.bic.entity.TrafficAgentEntity">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="code" jdbcType="VARCHAR" property="code" />
    <result column="summary" jdbcType="VARCHAR" property="summary" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="weight" jdbcType="INTEGER" property="weight" />
    <result column="longitude" jdbcType="DOUBLE" property="longitude" />
    <result column="latitude" jdbcType="DOUBLE" property="latitude" />
    <result column="region_full_name" jdbcType="VARCHAR" property="regionFullName" />
    <result column="region_full_code" jdbcType="VARCHAR" property="regionFullCode" />
    <result column="region" jdbcType="VARCHAR" property="region" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="created_date" jdbcType="TIMESTAMP" property="createdDate" />
    <result column="created_user" jdbcType="VARCHAR" property="createdUser" />
    <result column="updated_date" jdbcType="TIMESTAMP" property="updatedDate" />
    <result column="updated_user" jdbcType="VARCHAR" property="updatedUser" />
    <result column="dept_code" jdbcType="VARCHAR" property="deptCode" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="content" jdbcType="LONGVARCHAR" property="content" />
    <result column="simple_spell" jdbcType="VARCHAR" property="simpleSpell" />
    <result column="full_spell" jdbcType="VARCHAR" property="fullSpell" />
  </resultMap>
  <sql id="Base_Column_List">
    id, title, code, summary, description, weight, longitude, latitude, region_full_name, 
    region_full_code, region, address, created_date, created_user, updated_date, updated_user, 
    dept_code, status,type,content,simple_spell,full_spell
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_bic_traffic_agent
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from t_bic_traffic_agent
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="cn.com.wanwei.bic.entity.TrafficAgentEntity">
    insert into t_bic_traffic_agent (id,title, code, summary,
      description, weight, longitude, 
      latitude, region_full_name, region_full_code, 
      region, address, created_date, 
      created_user, updated_date, updated_user, 
      dept_code, status, content,type,content,simple_spell,full_spell
      )
    values (#{id,jdbcType=VARCHAR},#{title,jdbcType=VARCHAR}, #{code,jdbcType=VARCHAR}, #{summary,jdbcType=VARCHAR},
      #{description,jdbcType=VARCHAR}, #{weight,jdbcType=INTEGER}, #{longitude,jdbcType=DOUBLE}, 
      #{latitude,jdbcType=DOUBLE}, #{regionFullName,jdbcType=VARCHAR}, #{regionFullCode,jdbcType=VARCHAR}, 
      #{region,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, #{createdDate,jdbcType=TIMESTAMP}, 
      #{createdUser,jdbcType=VARCHAR}, #{updatedDate,jdbcType=TIMESTAMP}, #{updatedUser,jdbcType=VARCHAR}, 
      #{deptCode,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER}, #{content,jdbcType=LONGVARCHAR},#{type,jdbcType=VARCHAR},
      #{simpleSpell,jdbcType=VARCHAR}, #{fullSpell,jdbcType=VARCHAR}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="cn.com.wanwei.bic.entity.TrafficAgentEntity">
    update t_bic_traffic_agent
    set title = #{title,jdbcType=VARCHAR},
      code = #{code,jdbcType=VARCHAR},
      summary = #{summary,jdbcType=VARCHAR},
      description = #{description,jdbcType=VARCHAR},
      weight = #{weight,jdbcType=INTEGER},
      longitude = #{longitude,jdbcType=DOUBLE},
      latitude = #{latitude,jdbcType=DOUBLE},
      region_full_name = #{regionFullName,jdbcType=VARCHAR},
      region_full_code = #{regionFullCode,jdbcType=VARCHAR},
      region = #{region,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      created_date = #{createdDate,jdbcType=TIMESTAMP},
      created_user = #{createdUser,jdbcType=VARCHAR},
      updated_date = #{updatedDate,jdbcType=TIMESTAMP},
      updated_user = #{updatedUser,jdbcType=VARCHAR},
      dept_code = #{deptCode,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      content = #{content,jdbcType=LONGVARCHAR},
      type = #{type,jdbcType=VARCHAR},
      simple_spell = #{simpleSpell,jdbcType=VARCHAR},
      full_spell = #{fullSpell,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>

  <select id="findByPage" parameterType="java.util.Map" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from t_bic_traffic_agent
    <where>
      <if test="type!=null and type!='' ">
        and `type` = #{type,jdbcType=INTEGER}
      </if>
      <if test="title!=null and title!='' ">
        <bind name="title" value="'%'+title + '%'"></bind>
        and title like #{title}
      </if>
      <if test="regionFullCode != null and regionFullCode!='' ">
        <bind name="regionFullCode" value="regionFullCode + '%'"></bind>
        and region_full_code like #{regionFullCode}
      </if>
      <if test="status != null">
        and status = #{status,jdbcType=INTEGER}
      </if>
    </where>
  </select>
  <select id="checkTitle" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from t_bic_traffic_agent
    where title = #{title,jdbcType=VARCHAR}
  </select>

  <update id="dataBind">
    update t_bic_traffic_agent
    set updated_date = #{updatedDate,jdbcType=TIMESTAMP},
    updated_user = #{updatedUser,jdbcType=VARCHAR},
    dept_code = #{deptCode,jdbcType=VARCHAR}
    where id in
    <foreach collection="ids" item="item" index="index" open="(" separator="," close=")">
      #{item}
    </foreach>
  </update>

  <update id="clearWeight">
    update t_bic_traffic_agent set weight=0
  </update>
  <select id="maxWeight" resultType="Integer">
    select weight from t_bic_traffic_agent order by weight desc limit 1
  </select>
  <select id="getTrafficAgentList" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from t_bic_traffic_agent
  </select>

</mapper>